.env
.env.*
.git
.github
.idea
.vscode
.engram
node_modules
vendor
public/build
public/hot
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.sqlite
